{% extends "layouts/public_layout.html" %}
{% block title %}Registration{% endblock %}

{% load static %}

{% block pagecontent %}

<div class="login-form-area mg-t-30 mg-b-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {{ form.errors }}
            </div>
            <form action="." method="POST" id="register-form" class="adminpro-form">
                {% csrf_token %}
                <div class="col-lg-6">
                    <div class="login-bg">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo">
                                    <a href="{% url 'login' %}"><img
                                            src="{% static 'horizotal-light/img/logo/logo.png' %}" alt="Logo"/>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="login-title">
                                    <h1>Registration Form</h1>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="login-input-head">
                                    <p>Full Name</p>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="login-input-area register-mg-rt">
                                            <input type="text" name="first_name"/>
                                            <i class="fa fa-user login-user"></i>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="login-input-area">
                                            <input type="text" name="last_name"/>
                                            <i class="fa fa-user login-user"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="login-input-head">
                                    <p>Username</p>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="login-input-area">
                                    <input type="text" name="username"/>
                                    <i class="fa fa-user login-user"></i>
                                </div>
                                {{ form.errors.username }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="login-input-head">
                                    <p>Email Address</p>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="login-input-area">
                                    <input type="email" name="email"/>
                                    <i class="fa fa-envelope login-user" aria-hidden="true"></i>
                                </div>
                                {{ form.errors.email }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="login-input-head">
                                    <p>Password</p>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="login-input-area">
                                    <input type="password" name="password1"/>
                                    <i class="fa fa-lock login-user"></i>
                                    {{ form.errors.password1 }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="login-input-head">
                                    <p>Confarm Password</p>
                                </div>
                            </div>
                            <div class="col-lg-8">
                                <div class="login-input-area">
                                    <input type="password" name="password2"/>
                                    <i class="fa fa-lock login-user"></i>
                                    {{ form.errors.password2 }}
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8">
                                <div class="login-keep-me register-check">
                                    <label class="checkbox">
                                        <input type="checkbox" name="send_copy" checked><i></i>Send a copy to my e-mail
                                        address
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8">
                                <div class="login-keep-me register-check">
                                    <label class="checkbox">
                                        <input type="checkbox" name="remember" checked><i></i>I want to receive news and
                                        special offers
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4"></div>
                            <div class="col-lg-8">
                                <div class="login-button-pro">
                                    <a href="{% url 'login' %}" class="login-button login-button-rg">Log In</a>
                                    <button type="submit" class="login-button login-button-lg">Register</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-lg-3"></div>
        </div>
    </div>
</div>

{% endblock %}


{% block footer_scripts %}

<script>
    (function ($) {
        "use strict";
        $("#register-form").validate(
            {
                rules:
                    {
                        username:
                            {
                                required: true
                            },
                        email:
                            {
                                required: true,
                                email: true
                            },
                        password:
                            {
                                required: true,
                                minlength: 3,
                                maxlength: 20
                            },
                        confarm_password:
                            {
                                required: true,
                                minlength: 3,
                                maxlength: 20
                            }
                    },
                messages:
                    {
                        username:
                            {
                                required: 'Please enter your username'
                            },
                        email:
                            {
                                required: 'Please enter your email address',
                                email: 'Please enter a VALID email address'
                            },
                        password:
                            {
                                required: 'Please enter your password'
                            },
                        confarm_password:
                            {
                                required: 'Please enter your confarm password'
                            }
                    },

                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });
    })(jQuery);

</script>

{% endblock %}
